@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Home page with a heading and a picture -->

<body>

    <div class="text-center">
        <h1>The Movie Collection Database</h1>
        <br />
        <img src="~/img/moviepic.jpg" width="600" class="text-center" />
        <br />
        <br />
        <p> This is where the movies are! </p>
    </div>


</body>